## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [4]:
# multiplication table from 1 to 10

## function for printing table of a number
def print_table(n):
  print(f"Table of {n}: ")
  for i in range(1,11):
    print(f"{n} x {i} = {n*i}")
  print("-------------------------------")

for i in range(1,11):
  print_table(i)

Table of 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
-------------------------------
Table of 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
-------------------------------
Table of 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
-------------------------------
Table of 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
-------------------------------
Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
-------------------------------
Table of 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
-------------------------------
Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
-------------------------------
Table of 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
-------------------------------
Table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
-------------------------------
Table of 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
-------------------------------

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [28]:
list1 = input("Enter list 1 (space separated) : ").split()
list2 = input("Enter list 2 (space separated) : ").split()
list3 = [list1[i] for i in range(len(list1)) if i % 2 != 0] + [list2[i] for i in range(len(list2)) if i % 2 == 0]
print("-----------first approach--------------")

print(list3)

# alternate solution where we first pick an odd indexed element from list 1 then even indexed element from list 2
l1 = [list1[i] for i in range(len(list1)) if i % 2 != 0]
l2 = [list2[i] for i in range(len(list2)) if i % 2 == 0]
l3 = []
max_length = max(len(l1), len(l2))

for i in range(max_length):
  if i < len(l1):
    l3.append(l1[i])
  if i < len(l2):
    l3.append(l2[i])
print("-----------second approach--------------")
print(l3)

Enter list 1 (space separated) : 1 2 3 4 5 6
Enter list 2 (space separated) : a b c d e f
-----------first approach--------------
['2', '4', '6', 'a', 'c', 'e']
-----------second approach--------------
['2', 'a', '4', 'c', '6', 'e']

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [19]:
for i in range(0,8):
  for space in range(0,i):
    print("  ", end = "")
  for j in range(i,8):
    print("* ", end="")
  print()

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [23]:
def exponent(base, exp):
  return int(base ** exp)

  # some examples
base = int(input())
exp = int(input())
if exp <= 0:
  print("invalid")
else:
  print(exponent(base,exp))

5
4
625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

Mounting Google Drive where said file is test.txt and output.txt will be stored

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
def write_operation(input_file, output_file, line_number):
  try:
    with open(input_file, 'r') as infile:
      lines = infile.readlines()
    with open(output_file, 'w') as outfile:
      for i, line in enumerate(lines):
        if i!= line_number-1:
          outfile.write(line)
    print(f"content has been written to {output_file}, and we have skipped line number {line_number}")

    with open (output_file, 'r') as outfile:
      print("-------- content of output file -----------")
      print(outfile.read())

  except FileNotFoundError:
    print(f"Error: the file {input_file} does not exist")

  except Exception as e:
    print(f"an error occured: {e}")




input_file = '/content/drive/MyDrive/test.txt'
output_file = '/content/drive/MyDrive/test_output.txt'
line_number = 5
write_operation(input_file, output_file, line_number)

content has been written to /content/drive/MyDrive/test_output.txt, and we have skipped line number 5
-------- content of output file -----------
line1
line2
line3
line4
line6
line7

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [2]:
user_input = input()
names = user_input.split()
print("\n ------------- output ------------")
for name in names:
  print(name)

IIT JODHPUR RAJASTHAN

 ------------- output ------------
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [6]:
def show_employee(name, salary = 9000):
  print(f"Name: {name} salary: {salary}")

show_employee("Bill Gates", 12000)
show_employee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [10]:
import re
str1 = input().split()
pattern = re.compile(r'(?=.*[A-Za-z])(?=.*\d)')
print("-------- output ---------")
for word in str1:
  if pattern.match(word):
    print(f"\n{word}")

Harry25 is Gryffindor Wizard50 and cursed
-------- output ---------

Harry25

Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [12]:
import re
str1 = input()
pattern = re.compile(r'[^\w\s]')
result = pattern.sub('#', str1)
print(result)

/*Modi is @Politician & Melony!!
##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [17]:
first_list = [int(num.strip()) for num in input().split(',')]
second_list = [int(num.strip()) for num in input().split(',')]
result = set(zip(first_list, second_list))
print(f"Result is {result}")

2, 3, 4, 5, 6, 7, 8
4, 9, 16, 25, 36, 49, 64
Result is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [19]:
A = {int(num.strip()) for num in input().split(',')}
B = {int(num.strip()) for num in input().split(',')}

print(f"A-B: {A-B}")
print(f"B-A: {B-A}")
print(f"A intesection B: {A&B}")
print(f"A U B: {A | B}")

1, 3, 5, 7, 8
2, 4, 6, 8, 10
A-B: {1, 3, 5, 7}
B-A: {2, 10, 4, 6}
A intesection B: {8}
A U B: {1, 2, 3, 4, 5, 6, 7, 8, 10}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [27]:
class Vehicle:
  def __init__(self, max_speed, mileage):
    self.max_speed = max_speed
    self.mileage = mileage

v = Vehicle(90,60)
print(f"max_speed: {v.max_speed}")
print(f"mileage: {v.mileage}")

max_speed: 90
mileage: 60

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [25]:
class Bus(Vehicle):
  def __init__(self, max_speed, mileage):
    super().__init__(max_speed, mileage)

bus = Bus(120,30)
print(f"max_speed: {bus.max_speed}")
print(f"mileage: {bus.mileage}")

max_speed: 120
mileage: 30

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [26]:
class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
  def __init__(self,  max_speed, mileage, name = "bus"):
    super().__init__(name, max_speed, mileage)


  def seating_capacity(self, capacity = 50):
      return f"The seating capacity of a {self.name} is {capacity} passengers"


bus = Bus(120, 8)
print(bus.seating_capacity())

The seating capacity of a bus is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [29]:
class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):
    def fare(self):
      total_fare = super().fare()
      maintenance_fee = total_fare * 0.10
      final_fare = total_fare + maintenance_fee
      return final_fare



School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [40]:
import json

data = {"key1": "value1", "key2": "value2"}

json_data = json.dumps(data, indent=4)

print(json_data)
## without indent
print("without indent")
json_data = json.dumps(data)
print(f"data = {json_data}")

{
    "key1": "value1",
    "key2": "value2"
}
without indent
data = {"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [34]:
import json

sampleJson = {"id": 1, "name": "value2", "age": 29}

json_data = json.dumps(sampleJson, indent=4, sort_keys=True)

with open('sorted_output.json', 'w') as file:
    file.write(json_data)

print("JSON data has been written to sorted_output.json")
print("-----------output---------")
with open('sorted_output.json', 'r') as file:
  print(file.read())

JSON data has been written to sorted_output.json
-----------output---------
{
    "age": 29,
    "id": 1,
    "name": "value2"
}